/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
/storage/*
!/storage/app/
!/storage/framework/
!/storage/logs/
/blog
.env
.htaccess
!/.htaccess
!public/.htaccess
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
robots.txt
sitemap.xml
yarn-error.log
/.fleet
/.idea
/.vscode
